[fractal]
type = Mandelbrot
max_iter = 500
divergence_threshold = 5.5
xtra_1_label = z_real
xtra_2_label = z_imag

[image]
n_cols = 640
n_rows = 480
x_start=-0.50582564827112608
x_end=-0.50278220835867882
y_start=-0.60805175955536439
colour_mode = BBCW
colour_cycles = 1.0
histogram_smoothing = false
output_dir = /fractals

[device]
platformId = 0
deviceId = 0
showDeviceList = false
